<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>About Us</title>
</head>
<body>
<div class="webname"><h1><center>THE CODING CHEF</center></h1></div>
<nav class="navbar">
        <ul class="nav-links">
            <div class="menu"><li><a href="/">HOME</a></li></div>
        </ul>
</nav>
<div>
<div style="float: left"><p class="mainpara">Websites always excited us. That excitement led us to learn to code.<br>
    On the other hand, being WFH coders, we became foodies. Started experimenting with ingredients and prepared appetizing dishes.<br>
    <br>One fine day, when we wished to put both our passions, coding, and cooking, together, we came out with the idea of a food website.
    <br><br>We, Mr. & Mrs. Harikrishna Kongari, introduce our website <b>‘THE CODING CHEF’</b> with a variety of recipes, right from breakfast to dessert.
    <br><br>Being basic home cooks, all the ingredients we use are available at ease. And the cooking process is also quick to prepare.
    <br><br>So,<br><br>Let’s get cooking.</p>
</div>
<div style="float: right"><img src='w1.jpg' width="250px" height="250px"/></div>
</div>
</body>
</html>