<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>BREAKFAST</title>
</head>
<body>
<div class="webname"><h1><center>THE CODING CHEF</center></h1></div>
<h3><center>BREAKFAST RECIPES</center></h3>
<nav class="navbar">
        <ul class="nav-links">
            <div class="menu"><li><a href="/">HOME</a></li></div>
        </ul>
</nav>
<p class="mainpara">Breakfast is an important meal of the day.
As the name spells, it is the meal we eat to break the fast of the entire night.<br>
There is a saying “Eat breakfast like a king, lunch like a prince, and dinner like a beggar”-
    this saying means to have a lavish breakfast like a king, which shows the importance of the breakfast.
    Here, lavish doesn’t only mean many varieties of food, but a lavishly balanced diet.<br><br>
As we start the day, we need a great boost, be it spiritually, mentally, and physically.And breakfast plays a
    vital role in providing that boost to kick-start the day.<br><br>
Due to many changes in our lifestyles, we often tend to have breakfast late or skip it entirely,
    which is not at all recommended.The reasons like “woke up late”, “didn’t have time for breakfast”,
    and “not hungry”, are inexcusable.<br><br>
Here we provide a few breakfast recipes which help in maintaining that balance start to our day.
</p>

<button type="button" class="collapsible">IDLI</button>
<div class="content">
  <p class="dish">Idli is a light yet healthy breakfast. It is the first recommended food for any unhealthy person due to its easy-to-digest and energy
      filled ingredients.<br><br><b>Preparation Time:</b> Batter – Overnight, Idli – 15mints<br><b>Ingredients:</b><br> Idli rawa<br> Fenugreek<br>Urad dal<br><b>
          Cooking Method:</b>Soak idli rawa and urad dal with fenugreek for 4-5 hours. Blend all these into a fine consistency of idli and let it
      ferment overnight.<br>To prepare idli, spread the batter in the deli plates with oil/ghee. In the cooker, pour water and steam the idlis for
      15mints. Serve hot with any chutney.<b><br>Special Tips (if any):</b><br></p>
       <img src='bf1.jpeg' width="250px" height="250px"/>
</div>
<br><br>
<button type="button" class="collapsible">POORI</button>
<div class="content">
  <p class="dish">Poori is a festive dish made in most parts of India. It is mostly considered as unhealthy due to the maida flour and high amount of oil used
      It is mostly prepared during special occasions to make it more special.<br><br><b>Preparation Time:</b><br> Dough – 30mints, Poori – 10mints<br><b>
          Ingredients:</b><br>Poori flour<br>Salt<br>Hot oil<br>Water<br><b>Cooking Method:</b><br>In the poori flour, add salt, and hot oil.
      Mix it into a fine dough by adding water. Let it rest for 30mints.<br>To prepare poori, take a small dough ball and using a rolling pin,
      spread the dough into a circle, using loose powder. In the hot oil, deep fry these pooris. Serve them with chole/aloo besan.<br><b>
          Special Tips (if any):</b><br></p>
 <img src='bf2.jpg' width="250px" height="250px"/></div>
<br><br>
<button type="button" class="collapsible">WADA</button>
<div class="content">
    <p class="dish">Wada is another festive dish prepared in India. Unlike poori, it is made with urad dal, which is good for bone health.<b>Preparation Time:</b> Batter – 4hrs, wada – 10mints<br><b>Ingredients:</b><br>Urad dal<br>Rice<br>Onions<br>Cumin<br>Salt<br><b>Cooking Method:</b>
        Soak urad dal along with rice for 4-6hours and blend it into a fine batter. Add onions, cumin, and salt. Whisk the batter as much as possible.
        To test the consistency, drop the batter ball in the water. If it floats high, then the batter is ready.<br>To prepare wada, make a batter ball with the
        hole in the center. Slowly place the batter into the hot oil and fry until golden brown on both sides. Serve with ginger chutney.<br><b>Special Tips
            (if any):</b>One can add carrots, black pepper, and ginger to enhance the wada taste.<br></p>
      <img src='bf3.jpg' width="250px" height="250px"/></div>
<br><br>
<button type="button" class="collapsible">DOSA</button>
<div class="content">
  <p class="dish">Dosa is one of the favorite breakfasts of South Indian households. Having ingredients like rice, urad dal, and chana dal, makes it protein rich diet food.<br><br>
      <b>Preparation Time:</b> Batter – Overnight, Dosa – 10mints<br><b>Ingredients:</b><br> Rice<br>Chana dal<br>Fenugreek<br>Urad dal<br><b>Cooking Method:</b>
      Soak rice with chana dal and urad dal with fenugreek for 4-5 hours. Blend all these into a fine consistency of dosa and let it ferment overnight.
      <br>To prepare dosa, heat the tawa and spread the batter rotating the spoon. Soon the batter turns golden brown, flip the dosa to cook on the other side.
      Serve hot with any chutney.<br><b>Special Tips (if any):</b>One can add egg, masala, butter, cheese, and many other ingredients to make a wide variety of dosa.
      <br></p>
      <img src='bf4.jpeg' width="250px" height="250px"/></div>
<br><br>
<button type="button" class="collapsible">UPMA</button>
<div class="content">
    <p class="dish">Upma is a go-to breakfast in many Indian households due to its short preparation time. It is also healthy as we can
      add many vegetables making it a fiber-rich dish. It is also easily digestible making it a more reliable food.<br><br>
      <b>Preparation time:</b>15 minutes<br><b>Ingredients:</b><br>Ghee/Oil<br>Sooji<br>Mustard<br>Peanuts<br>Chana dal<br>Urad dal<br>Red Chillies<br>Oninons<br>Green Chillies<br>Water<br>Salt<br>
<b>Cooking Method:</b> In a hot pan, add a few drops of ghee/oil and let it heat. Add sooji and keep stirring until it turns golden brown becoming aromatic.
      Transfer this sooji to a plate. In the same pan, add a few more drops of oil/ghee. Upon heating, add mustard. Once spluttered, add peanuts,
      urad dal, chana dal, and roast fry. Add red chilies, onion, green chili, and curry leaves, and cook until soft. Grate some ginger to this mixture
      and let it become aromatic. Pour water doubling the quantity of sooji and let them boil. Add salt to this water. Upon boiling, add the ghee/oil
      fried sooji, while stirring to prevent lumps. Cook for 10-15mins or until soft.<br><b>Special Tips (if any):</b> One can add tomatoes, carrots, and
      green peas to encourage kids to eat. Adding turmeric makes the dish more colorful.
        <br></p>
    <img src='bf5.jpg' width="250px" height="250px"/>
    </div>
<script type="text/javascript" src="jscript.js">
</script>
</body>
</html>