<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>NON VEG</title>
</head>
<body>
<div class="webname"><h1><center>THE CODING CHEF</center></h1></div>
<h3><center>NON VEG RECIPES</center></h3>
<nav class="navbar">
        <ul class="nav-links">
            <div class="menu"><li><a href="/">HOME</a></li></div>
        </ul>
</nav>
<p class="mainpara">There are many kinds of non-veg options to consume around the world. But we in India only prefer three kinds, Chicken, Mutton, and Seafood.
    <br><br>Below are the recipes for the same.
</p>
<button type="button" class="collapsible">CHICKEN</button>
<div class="content">
  <p>Idli is a light yet healthy breakfast of south India.<br>
      <img src={{url_for('static', filename='n1.jpeg' )}} width="250px" height="250px"/></p></div>
<br><br>
<button type="button" class="collapsible">MUTTON</button>
<div class="content">
  <p>Idli is a light yet healthy breakfast of south India.<br>
      <img src={{url_for('static', filename='n2.jpeg' )}} width="250px" height="250px"/></p></div>
<br><br>
<button type="button" class="collapsible">FISH</button>
<div class="content">
  <p>Idli is a light yet healthy breakfast of south India.<br>
      <img src={{url_for('static', filename='n3.jpeg' )}} width="250px" height="250px"/></p></div>
<br><br>
<button type="button" class="collapsible">PRAWNS</button>
<div class="content">
  <p>Idli is a light yet healthy breakfast of south India.<br>
      <img src={{url_for('static', filename='n4.jpeg' )}} width="250px" height="250px"/></p></div>
<br><br>
<script type="text/javascript" src="{{url_for('static', filename='jscript.js') }}"></script>
</body>
</html>